/* Alice */
@font-face {
  font-family: "Alice";
  src: url("");
  src: url("") format("embedded-opentype"), url("") format("woff2"), url("") format("woff"), url("") format("truetype"), url("") format("svg");
  font-weight: 400;
  font-style: normal;
}
/* \Alice */
/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-t.eot") format("embedded-opentype"), url("montserrat-t.woff2") format("woff2"), url("montserrat-t.woff") format("woff"), url("montserrat-t.ttf") format("truetype"), url("montserrat-t.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-t-i.eot") format("embedded-opentype"), url("montserrat-t-i.woff2") format("woff2"), url("montserrat-t-i.woff") format("woff"), url("montserrat-t-i.ttf") format("truetype"), url("montserrat-t-i.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-e-l.eot") format("embedded-opentype"), url("montserrat-e-l.woff2") format("woff2"), url("montserrat-e-l.woff") format("woff"), url("montserrat-e-l.ttf") format("truetype"), url("montserrat-e-l.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-e-l-i.eot") format("embedded-opentype"), url("montserrat-e-l-i.woff2") format("woff2"), url("montserrat-e-l-i.woff") format("woff"), url("montserrat-e-l-i.ttf") format("truetype"), url("montserrat-e-l-i.svg") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-l.eot") format("embedded-opentype"), url("montserrat-l.woff2") format("woff2"), url("montserrat-l.woff") format("woff"), url("montserrat-l.ttf") format("truetype"), url("montserrat-l.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-l-i.eot") format("embedded-opentype"), url("montserrat-l-i.woff2") format("woff2"), url("montserrat-l-i.woff") format("woff"), url("montserrat-l-i.ttf") format("truetype"), url("montserrat-l-i.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-r.eot") format("embedded-opentype"), url("montserrat-r.woff2") format("woff2"), url("montserrat-r.woff") format("woff"), url("montserrat-r.ttf") format("truetype"), url("montserrat-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-i.eot") format("embedded-opentype"), url("montserrat-i.woff2") format("woff2"), url("montserrat-i.woff") format("woff"), url("montserrat-i.ttf") format("truetype"), url("montserrat-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-m.eot") format("embedded-opentype"), url("montserrat-m.woff2") format("woff2"), url("montserrat-m.woff") format("woff"), url("montserrat-m.ttf") format("truetype"), url("montserrat-m.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-m-i.eot") format("embedded-opentype"), url("montserrat-m-i.woff2") format("woff2"), url("montserrat-m-i.woff") format("woff"), url("montserrat-m-i.ttf") format("truetype"), url("montserrat-m-i.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-s-b.eot") format("embedded-opentype"), url("montserrat-s-b.woff2") format("woff2"), url("montserrat-s-b.woff") format("woff"), url("montserrat-s-b.ttf") format("truetype"), url("montserrat-s-b.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-s-b-i.eot") format("embedded-opentype"), url("montserrat-s-b-i.woff2") format("woff2"), url("montserrat-s-b-i.woff") format("woff"), url("montserrat-s-b-i.ttf") format("truetype"), url("montserrat-s-b-i.svg") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-b.eot") format("embedded-opentype"), url("montserrat-b.woff2") format("woff2"), url("montserrat-b.woff") format("woff"), url("montserrat-b.ttf") format("truetype"), url("montserrat-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-b-i.eot") format("embedded-opentype"), url("montserrat-b-i.woff2") format("woff2"), url("montserrat-b-i.woff") format("woff"), url("montserrat-b-i.ttf") format("truetype"), url("montserrat-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-e-b.eot") format("embedded-opentype"), url("montserrat-e-b.woff2") format("woff2"), url("montserrat-e-b.woff") format("woff"), url("montserrat-e-b.ttf") format("truetype"), url("montserrat-e-b.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-e-b-i.eot") format("embedded-opentype"), url("montserrat-e-b-i.woff2") format("woff2"), url("montserrat-e-b-i.woff") format("woff"), url("montserrat-e-b-i.ttf") format("truetype"), url("montserrat-e-b-i.svg") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-bl.eot") format("embedded-opentype"), url("montserrat-bl.woff2") format("woff2"), url("montserrat-bl.woff") format("woff"), url("montserrat-bl.ttf") format("truetype"), url("montserrat-bl.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("");
  src: url("montserrat-bl-i.eot") format("embedded-opentype"), url("montserrat-bl-i.woff2") format("woff2"), url("montserrat-bl-i.woff") format("woff"), url("montserrat-bl-i.ttf") format("truetype"), url("montserrat-bl-i.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}
/* \Montserrat */
/* Oswald */
@font-face {
  font-family: "Oswald";
  src: url("");
  src: url("oswald-e-l.eot") format("embedded-opentype"), url("oswald-e-l.woff2") format("woff2"), url("oswald-e-l.woff") format("woff"), url("oswald-e-l.ttf") format("truetype"), url("oswald-e-l.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("");
  src: url("oswald-l.eot") format("embedded-opentype"), url("oswald-l.woff2") format("woff2"), url("oswald-l.woff") format("woff"), url("oswald-l.ttf") format("truetype"), url("oswald-l.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("");
  src: url("oswald-r.eot") format("embedded-opentype"), url("oswald-r.woff2") format("woff2"), url("oswald-r.woff") format("woff"), url("oswald-r.ttf") format("truetype"), url("oswald-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("");
  src: url("oswald-m.eot") format("embedded-opentype"), url("oswald-m.woff2") format("woff2"), url("oswald-m.woff") format("woff"), url("oswald-m.ttf") format("truetype"), url("oswald-m.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("");
  src: url("oswald-s-b.eot") format("embedded-opentype"), url("oswald-s-b.woff2") format("woff2"), url("oswald-s-b.woff") format("woff"), url("oswald-s-b.ttf") format("truetype"), url("oswald-s-b.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("");
  src: url("oswald-b.eot") format("embedded-opentype"), url("oswald-b.woff2") format("woff2"), url("oswald-b.woff") format("woff"), url("oswald-b.ttf") format("truetype"), url("oswald-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* \Oswald */
